.button {
    border: none;
    background-color: royalblue;
    padding: 20px;
    border-radius: 10px;
    color:black;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    opacity: 0.8;
}